<% content_for(:side_menus) do -%>
  <% if login? -%>
    <h3>ブログメニュー</h3>
    <ul>
      <li><%=  link_to_if(login?, "投稿", new_blog_path) %></li>
    </ul>
  <% end -%>
<% end -%>

<h1>たいやき部ログ</h1>
<%= will_paginate @blogs %>
<div class="recent-entries">
  <%= render :partial => 'entry', :collection => @blogs %>
</div>
<%= will_paginate @blogs %>
