<% content_for(:sub_menus) do -%>
  <h3>blog menu</h3>
  <ul>
    <li><%=  link_to_if(login?, "New", new_blog_path) %></li>
  </ul>
<% end -%>
<h2>たいやきBlog</h2>
<%= will_paginate @blogs %>
<%= render :partial => 'entry', :collection => @blogs %>
