<h3><%= link_to(entry[:date].strftime("%Y-%m-%d") + " " + h(entry[:title]), entry[:link])%></h3>
<p>
<%= truncate(strip_tags(entry[:content]), :length => 30) %>
</p>
<div class="footnote">
Posted by <%=h entry[:author] %>
</div>



