<p>
Powered by <a href="http://github.com/taiyaki/taiyaking/">Taiyaking <%= TAIYAKING_VERSION %></a>.
</p>

<p>
Powered by <a href="http://rubyonrails.org/">Ruby on Rails <%= Rails.version %></a>.
</p>

<p>
Powered by <a href="http://www.ruby-lang.org/">Ruby <%= RUBY_VERSION %></a>.
</p>
