html,
body
{
  background-color: #caa05d;
  background-color: #eedbbc;
  margin: 0;
  padding: 0;
}

a
{
  color: #caa05d;
}

a:visited
{
  color: #bc9659;
}

a img
{
  border-width: 0;
}

div.main
{
}

div.header
{
  padding-top: 5px;
}

div.header div.title
{
  background: url(../../images/mini-tailavi.png) no-repeat 5px 0px;
  margin: 0;
  height: 113px;
  padding-top: 0px;
  padding-bottom: 5px;
}

div.header div.title a
{
  display: block;
  height: 113px;
}

div.header div.title a,
div.header div.title a:link,
div.header div.title a:visited
{
  color: black;
  text-decoration: none;
}

div.header div.title span
{
  display: block;
  padding-left: 150px;
  margin-bottom: 2px;
}

div.header div.title span.title
{
  padding-top: 20px;
}

div.header div.title span.separator
{
  display: none;
}

div.header div.title span.subtitle
{
  font-size: smaller;
}

div.header div.menu
{
  position: relative;
  /* background-color: #98514B; */
  /* background-color: #946259; */
  /* background-color: #860600; */
  background: url(../../images/menu-bar.png) repeat-x;
  /* height: 31px; */
}

div.header div.menu ul
{
  display: inline;
  font-weight: bold;
  color: white;
  margin: 0px;
  padding: 0px;
  padding-left: 25px;
  padding-top: 3px;
  padding-bottom: 3px;
}

div.header div.menu ul li a,
div.header div.menu ul li a:visited,
div.header div.menu ul li a:link
{
  color: white;
}

div.header div.menu ul li
{
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

div.header div.menu ul.login-menu
{
  position: absolute;
  bottom: 0;
  right: 200px;
  padding: 0px;
}

div.content
{
  background-color: white;
  margin-top: 10px;
  margin-right: 220px;
  margin-bottom: 10px;
  padding-left: 29px;
  border: 1px solid grey;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

div.content h1
{
  margin-top: 0px;
}

div.content div.recent-entries div.entry
{
  border-bottom: 1px dotted #caa05d;
  margin-bottom: 1em;
}

div.content div.entry h2 span.date
{
  font-size: smaller;
  color: grey;
}

div.content div.entry p.summary,
div.content div.entry div.section
{
  padding-left: 1em;
  padding-right: 2em;
}

div.content div.entry div.footnote
{
  text-align: right;
  padding-right: 1em;
}

div.content div.entry div.metadata
{
  text-align: right;
  padding-right: 1em;
  font-size: smaller;
}

div.content div.entry div.metadata span.posted-at
{
  color: grey;
}

div.sidebar
{
  position: absolute;
  top: 157px;
  right: 0;
  width: 210px;
  border: 1px solid #caa05d;
  /* background: url(../../images/taiyaki-scale.png); */
  background-color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

div.sidebar div.about-taiyaki-bu
{
  padding-left: 10px;
}

div.footer
{
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

div.footer p
{
  margin: 0;
}
