html,
body
{
  background-color: #caa05d;
  margin: 0;
  padding: 0;
}

div.main
{
  background-color: white;
}

div.header
{
  background-color: white;
  padding-top: 5px;
}

div.header div.title
{
  background: white url(../../images/mini-tailavi.png) no-repeat top left;
  margin: 0;
  padding-top: 0px;
  height: 113px;
  margin-left: 5px;
  padding-bottom: 5px;
}

div.header div.title a
{
  display: block;
  height: 113px;
}

div.header div.title a,
div.header div.title a:link,
div.header div.title a:visited
{
  color: black;
  text-decoration: none;
}

div.header div.title span
{
  display: block;
  padding-left: 150px;
  margin-bottom: 2px;
}

div.header div.title span.title
{
  padding-top: 20px;
}

div.header div.title span.title img
{
  border-width: 0;
}

div.header div.title span.separator
{
  display: none;
}

div.header div.title span.subtitle
{
  font-size: smaller;
}

div.header div.menu ul
{
  display: block;
  font-weight: bold;
  color: white;
  /* background-color: #98514B; */
  /* background-color: #946259; */
  /* background-color: #860600; */
  background: url(../../images/menu-bar.png) repeat-x;
  margin: 0px;
  padding: 0px;
  padding-left: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
}

div.header div.menu ul a
div.header div.menu ul a:visited,
div.header div.menu ul a:link
{
  color: white;
}

div.header div.menu ul li
{
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

div.content
{
  padding-left: 30px;
}
